In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced


import warnings
warnings.filterwarnings('ignore')

In [2]:
lending_df = pd.read_csv(Path("./Resources/lending_data.csv"))

lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Seprating the data into labels and features

y = lending_df["loan_status"]

X = lending_df.drop(columns="loan_status")

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [5]:
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [6]:
## Checking the balance of the target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

In [7]:
# Splitting the data using train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=1)

## Creating a Logistic Regression Model with the Original Data

In [8]:
# Importing the LogisticRegression model from Sklearn
from sklearn.linear_model import LogisticRegression

# Instatntiating the Logistic Regression Model
logistic_regression_model = LogisticRegression(random_state = 1)

#Fitting the model using the 

lr_original_model = logistic_regression_model.fit(X_train, y_train)

In [9]:
# Makig a prediction using the testing data 
y_original_prediction = lr_original_model.predict(X_test)

In [10]:
# Creating a DataFrame for the predicted and actual Data
prediction_results = pd.DataFrame({
    "Predicted Data" : y_original_prediction,
    "Actual Data" : y_test
})

prediction_results.head()

       Predicted Data  Actual Data
60914               0            0
36843               0            0
1966                0            0
70137               0            0
27237               0            0

## Evaluating the Model's performance

In [11]:
#Printing the balanced accuracy score of the model 
balanced_accuracy_score(y_test, y_original_prediction)

0.9520479254722232

In [12]:
# Generating a confusion matrix for the model 
confusion_matrix(y_test, y_original_prediction)

array([[18663,   102],
       [   56,   563]])

In [13]:
#Printing a Classification report for the model
print(classification_report_imbalanced(y_test, y_original_prediction))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.91      1.00      0.95      0.91     18765
          1       0.85      0.91      0.99      0.88      0.95      0.90       619

avg / total       0.99      0.99      0.91      0.99      0.95      0.91     19384

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

## Predicting a Logistic Regression Model with Resampled Training Data

In [14]:
#Importing RandomOverSampler module from imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instatiating the Random Over Sampler model 

random_over_sampler = RandomOverSampler(random_state = 1)

#Fitting the original training data to the random_oversampler model

X_resampled, y_resampled = random_over_sampler.fit_resample(X_train, y_train)

In [15]:
y_resampled.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Using the LogisticRegression classifier and the resampled sata to fit the model and make prediction

In [16]:
logistic_regression_model = LogisticRegression(random_state=1)

lr_resampled_model = logistic_regression_model.fit(X_resampled, y_resampled)

resampled_prediction = lr_resampled_model.predict(X_test)

In [20]:
# Creating a DataFrame for the resampled predicted data and the origial data

resampled_results = pd.DataFrame({
    "Resampled Prediction" : resampled_prediction,
    "Actual Data": y_test
})

resampled_results.head()

       Resampled Prediction  Actual Data
60914                     0            0
36843                     0            0
1966                      0            0
70137                     0            0
27237                     0            0

## Evaluating the model's performance

In [21]:
balanced_accuracy_score(y_test, resampled_prediction)

0.9936781215845847

In [22]:
confusion_matrix(y_test, resampled_prediction)

array([[18649,   116],
       [    4,   615]])

In [24]:
print(classification_report_imbalanced(y_test, resampled_prediction))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.99      1.00      0.99      0.99     18765
          1       0.84      0.99      0.99      0.91      0.99      0.99       619

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Based on the classification report, the results suggest that the model is very goog at correctly identifying high-risk loans, with a relatively low number of false positives and a high level of confidence,

In [26]:
display(print("Classification Report for Original Data "))
display(print(classification_report_imbalanced(y_test, y_original_prediction)))
display(print("Classification Report for imbalanced Data "))
display(print(classification_report_imbalanced(y_test, resampled_prediction)))

Classification Report for Original Data

None

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.91      1.00      0.95      0.91     18765
          1       0.85      0.91      0.99      0.88      0.95      0.90       619

avg / total       0.99      0.99      0.91      0.99      0.95      0.91     19384

None

Classification Report for imbalanced Data

None

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      0.99      1.00      0.99      0.99     18765
          1       0.84      0.99      0.99      0.91      0.99      0.99       619

avg / total       0.99      0.99      0.99      0.99      0.99      0.99     19384

None